services : 
  backend: 
   image: node:latest
   working_dir: /app
   volumes:
     - ./:/app
   command: sh -c "npm install && npm run dev"
   environment:
      - PORT=3000
      - DATABASE_URL=postgres://user:password@db:5432/mydatabase
   ports:
      - 127.0.0.1:3000:3000
  db:
   image: postgres:17
   environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase 
   volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: {}

# Environnement complet